In [1]:
import numpy as np
import pandas as pd

Importing GEOAS

In [10]:
def df_from_geoas (file):
    f = open(file,'r')
    n = 0
    columns = []
    data = []
    for idx, line in enumerate(f):
        if idx == 1:
            n = int(line)
        if  idx>1 and idx<=(n+1):
            line = line.rstrip()
            columns.append(line)
        if idx > n+1:
            arr = np.array(line.split()).astype(float)
            data.append(arr)
    df = pd.DataFrame(data=np.array(data), columns = columns)
    return df

In [11]:
df_from_geoas('data/Fe.dat')

           X       Y      Z  Fe (%)
0     1080.0  1027.9  506.2    51.1
1     1080.0  1021.1  494.5    51.1
2     1614.0  1030.7  375.0    45.1
3     1614.0  1023.2  362.1    45.1
4     1614.0  1005.3  331.1    41.5
...      ...     ...    ...     ...
1190   850.6   139.4  438.0    52.1
1191   934.8   203.2  422.2    43.0
1192   936.1   200.8  407.5    46.3
1193   937.4   198.1  392.8    55.8
1194   938.5   195.7  379.5    57.0

[1195 rows x 4 columns]

Writing to GEOAS

In [12]:
def df_from_geoeas(file):
    f = open(file)
    n = 0
    columns = []
    data = []
    for idx, line in enumerate(f):
        if idx == 1:
            n = int(line)
        if idx > 1 and idx <= (n+1):
            line = line.rstrip()
            columns.append(line)
        if idx > (n+1):
            arr = np.array(line.split()).astype(float)
            data.append(arr)
    
    df = pd.DataFrame(data=np.array(data), columns=columns)
    return df

def  geoeas_from_df(df, file):
    df.replace(float('nan'), -999, inplace=True)
    data_string = ''
    nome = 'df_export\n'
    data_string = data_string + nome
    n = str(len(df.columns)) + '\n'
    data_string = data_string + n
    for coluna in df.columns:
        data_string = data_string + coluna+'\n'
    num_data = df.to_string(header=False, index=False)
    data_string = data_string + num_data
    f = open(file, 'w')
    f.write(data_string)
    f.close()